a:link
        {
            color: #fff;
            text-decoration: none;
        }
        a:visited
        {
            color: #ff8400;
            text-decoration: none;
        }
        a:hover
        {
            color: #fff;
            text-decoration: underline;
        }
        a:active
        {
            color: #fff;
            text-decoration: underline;
        }
        a:visited.nav
        {
            color: #ff8400;
        }
        a:link.nav
        {
            color: #fff;
        }
        a:hover.nav, a:active.nav
        {
            color: #fff;
        }
        
        a:link.featurenav, a:visited.featurenav
        {
            color: #fff;
        }
        a:hover.featurenav, a:active.featurenav
        {
            color: #0080FF;
        }
        
        .backGreen
        {
        	/*
        	background-color: #27a9e3;
        	background-color: rgba(39, 169, 227, 0.3);
            */
        	background-image: url(http://www.jssor.com/img/site/back-green.png);
        }
        
        .backBlackGreen
        {
        	background-image: url(http://www.jssor.com/img/site/back-blackgreen.png);
        }
        
        .backBlack
        {
        	background-image: url(http://www.jssor.com/img/site/back-black.png);
        }

        .backWhite
        {
        	background-image: url(http://www.jssor.com/img/site/back-white.png);
        }
        
        .backBlue
        {
        	/*
        	background-color: #27a9e3;
        	background-color: rgba(0, 0, 160, 0.2);
            */
        	background-image: url(../img/site/back-blue.png);
        }

        A.effectButton, A.effectButton:active, A.effectButton:visited, A.navDev, A.navDev:active, A.navDev:visited
        {
            display: block;
            font-size: 13px;
            line-height: 26px;
            text-align: center;
            background-color: #dadada;
            color: #EB5100;
            text-decoration: none;
            padding: 3px 10px 3px 10px;
            display: inline;
            white-space: nowrap;
        }
        A.effectButton:hover, A.navDev:hover
        {
            color: #EAEAEA;
            background-color: #EB5100;
        }
        A.navDev, A.navDev:active, A.navDev:visited, A.navDev:hover
        {
            left:0px;
            width:255px;
            line-height:26px;
            padding: 0px 5px 0px 5px;
            display: inline-block;
            text-align: left;
        }
    </style>
    <!-- Thumbnail Style Begin -->
    <style>
        .thumb
        {
            position: relative;
            float: left;
            display: inline;
            margin: 25px;
            width: 260px;
            height: 130px;
        }
        .thumbb
        {
            position: absolute;
            left: -1px;
            top: -1px;
            width: 262px;
            height: 132px;
            background-color: #fff;
        }
        .thumbb:hover
        {
            background-color: #ff8400;
        }
        .thumbcb, .thumbc
        {
            position: absolute;
            left: 1px;
            top: 1px;
            width: 260px;
            height: 30px;
        }
        .thumbcb
        {
            background-color: #000;
            filter: alpha(opacity=50);
            opacity: .5;
        }
        .thumbb:hover .thumbcb
        {
            background-color: #ff8400;
        }
        .thumbc
        {
        	font-size: 18px;
        	line-height:30px;
        	text-align:center;
        }
        .thumbix01, .thumbix02, .thumbiv01, .thumbiv02
        {
            position: absolute;
            left: 1px;
            top: 1px;
            width: 260px;
            height: 130px;
        }
        .thumbix01
        {
            background: url(../img/demo/thumbnail-slideshow-effects-01.jpg);
        }
        .thumbix02
        {
            background: url(../img/demo/thumbnail-slideshow-effects-02.jpg);
        }
        .thumbiv01
        {
            background: url(../img/demo/thumbnail-sliders-01.jpg);
        }
        .thumbiv02
        {
            background: url(../img/demo/thumbnail-sliders-02.jpg);
        }

    .bricon
    {
        background: url(../img/browser-icons.png);
    }
  
 
        .feature
        {
            position: absolute;
            width: 350px;
            height: 180px;
        }
        .featureb
        {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #0000A0;
            filter: alpha(opacity=20);
            opacity: .2;
        }
        .featurecb
        {
            position: absolute;
            width: 100%;
            height: 30px;
            background-color: #000;
            filter: alpha(opacity=30);
            opacity: .3;
        }
        .featurec
        {
            position: absolute;
            width: 100%;
            height: 30px;
            text-align: center;
            font-size: 18px;
            line-height: 30px;
            color: #fff;
        }
        .featuret
        {
            position: absolute;
            width: 320px;
            height: 125px;
            top: 40px;
            left: 15px;
            color: #fff;
            font-size: 13px;
            line-height: 26px;
        }
  
        .description
        {
            position: relative;
            margin: 0 auto;
            padding: 10px;
            top: 0px;
            left: 0px;
            width: 660px;
        }
        .descriptiont
        {
            position: relative;
            width: 630px;
            color: #fff;
            font-size: 13px;
            line-height: 26px;
        }

        td, label, input, select, option
        {
            font-family: Arial,Helvetica,sans-serif;
            margin: 0;
            padding:0;
            font-size: 12px;
            line-height: 20px;
        }
        select
        {
            width: 110px;
        }
        .inputText
        {
    	    border: 1px solid lightgray;
    	    background: #fff;
    	    height: 17px;
        }

